* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.7;
    padding: 0 15px;
}

header {
    background:#008DDA;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
}

h2 {
    color: #41C9E2;
}

.proyecto {
    background: #f4f4f4;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

.proyecto h3 {
    color: #41C9E2;
}

.contact {
    background: #CAF4FF;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: grid;
    margin-bottom: 5px;
    color: #555;
}

.form-group input,
.form-group textarea {
    width: 100%;
    max-width: 500px; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #070a91;
    outline: none;
}

button[type="submit"] {
    width: 100%;
    max-width: 500px; 
    padding: 10px;
    background-color: #008DDA;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #ACE2E1;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #ACE2E1;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #008DDA;
    border-radius: 5px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background: #008DDA;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

form button:hover {
    background: #070a91;
}

a {
    background-color: #008DDA;
    color: #ffffff;
    border: 2px solid #008DDA;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #fff;
    color: #008DDA;
}

footer {
    text-align: center;
    padding: 20px;
    background: #008DDA;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .btn {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    header, footer {
        text-align: center;
        padding: 15px;
    }

    section {
        padding: 15px;
        margin: 15px 0;
    }

    .proyecto {
        padding: 10px;
        margin: 5px 0;
    }

    form {
        padding: 0 10px;
    }
}
