{% extends './base.html' %}
{% block body %}

<section class="proyectos">
    <h2>Curso</h2>
    <div class="proyecto">
        <h3>HTML</h3>
     <center><img src="static/images/proxy-image.svg" style="width:100px;height:100px;"></center>
     <center><p>Es una de las partes más básicas de todas las páginas web, por lo que es muy importante aprenderlo si se quiere tener una carrera en el mundo del desarrollo web.</p></center>
        
    </div>
    <div class="proyecto">
        <h3>CSS</h3>
        <center><img src="static/images/CSS.svg" style="width:100px;height:100px;"></center>
        <center><p>(CSS) es un lenguaje de programación que sirve para determinar el diseño de los documentos electrónicos. Con la ayuda de unas sencillas instrucciones -presentadas en forma de código fuente claro, los elementos del sitio web, como el diseño, el color y la tipografía, pueden adaptarse como se desee. </p></center>
        
    </div>
    <div class="proyecto">
        <h3>PYTHON</h3>
        <center><img src="static/images/PYTHON.png" style="width:100px;height:100px;"></center>
        <center><p>Python es un lenguaje de programación de alto nivel, interpretado y de propósito general. Se caracteriza por su sintaxis clara y legible, lo que lo hace fácil de aprender y utilizar. Python es ampliamente utilizado en desarrollo web, análisis de datos, inteligencia artificial</p></center>
        
    </div>
</section>

{% endblock %}